<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Login Admin VideoTV</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/login.css">
    <!--Stylesheet-->

</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post" action="/checkaccount">
        <h3>
            Login
        </h3>

        <label for="username">Username</label>
        <input type="text" required placeholder="UserName" minlength="2" value="{{#if username}}{{username}}{{/if}}"
            name="username" id="username">


        <label for="password">Password</label>
        <input type="password" required minlength="4" name="password" placeholder="Password" id="password">
        <p class="text-err">
            {{#if errors}}
            {{errors}}
            {{/if}}

        </p>
        <button type="submit">Log In</button>

    </form>
</body>

</html>