<link rel="stylesheet" href="/style/catelog.css">
<section class="flex flex-wrap items-center justify-between border-gray-600 border-b-[0.5px] pb-4 mb-3">
    <h1 class="text-3xl font-semibold">
        TopUp <sub class="text-base"> <span id="total_item"> {{total}}</span> vnđ</sub>

    </h1>
    {{!-- Sort --}}
    <div class="flex items-center ml-auto relative">
        <section>
            <p class="text-sm">Sort by:</p>
            <div class="flex relative">
                <button class="text-base font-semibold">Filter</button>
                <button class="btn_effect min-w-[60px] h-[40px]" id="btn_filter">
                    <span></span><span class="hideElement"></span>
                    <span></span>
                </button>
                <nav class="absolute top-full z-[2] right-0">
                    <ul id="sort_container"
                        class="font-semibold text-slate-300 px-2 hideElement cursor-pointer min-w-[150px] bg-slate-900 py-3 rounded-2xl">
                        <li class="active" data-type="time" data-name="thời gian tạo" data-kind="updatedAt">Ngày Cập
                            nhập
                        </li>
                        <li data-name="chờ xử lý" data-value="1" data-kind="status">Chờ xử lý</li>
                        <li data-name="thành công" data-value="2" data-kind="status">Thành công</li>
                        <li data-name="thất bại" data-value="3" data-kind="status">Thất bại </li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>
    {{!-- end sort --}}

    <!-- search -->
    <div id="search_box"
        class="bg-[#151f30] rounded-full ease-in duration-200 flex items-center w-full lg:mt-0 lg:w-[350px] relative">
        <input type="text" id="search" class="bg-none outline-none flex-1 py-2 pl-4 rounded-full  bg-[#151f30]  "
            placeholder="Find paycode / or Id ..." required />
        <button id="btn_search" class="px-4">
            <i class="fa-solid fa-magnifying-glass text-blue-600 hover:text-blue-700"></i>
        </button>
        <section id="result_container" class="absolute top-full w-full z-[1] overflow-auto hidden">
            <h5 class="bg-gray-800 p-2">
                Tìm kiếm với ký tự:
                <span id="input_keyword" class="text-red-600">dsadsasad</span>
            </h5>
            <div class="result_search bg-black scroll_settings max-h-[300px] shadow shadow-[#435858]">
                <ul id="search_content">
                    <li>
                        <a class="block p-1 hover:bg-slate-950" href="http://">
                            <figure class="flex gap-x-2">
                                <img src="https://movibes.online/avata/636939627d4a2-thon-phe-tinh-khong-thumb.jpg"
                                    width="40" height="80" class="object-cover" alt="thôn phệ tinh không" />
                                <figcaption>
                                    <div class="flex flex-col">
                                        <span class="text-base hover:text-yellow-400">
                                            Phạm Hoài Nam</span>
                                        <span class="text-sm">Thành công</span>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>

                </ul>
            </div>
        </section>
    </div>
    <!-- end search -->
</section>
<div class="infomation text-center text-red-500 capitalize"> {{#if error}} Lỗi: {{error}} {{/if}}</div>
<div class="infomation text-center capitalize "> {{#if message}} Thông báo {{message}} {{/if}}</div>
<!-- show payment -->
<input type="text" hidden id="idPayment" value="{{id}}">
<section class="block w-full">
    <div class="scroll_settings">
        {{#if id}}
        <style>
            #payment_container tr:first-child {
                background-color: #585c33;
            }
        </style>
        {{/if}}
        <div id="payment" class="content_menu bg-[#131720]   w-full">
            <div class="scroll_settings">
                <table class="table w-full text-center p-2" id="table_container">
                    <thead class="text-base font-bold text-slate-400">
                        <tr>
                            <td>
                                <div class="whitespace-nowrap px-2">ID</div>
                            </td>
                            <td>
                                <div class="whitespace-nowrap px-2">Paycode</div>
                            </td>
                            <td>
                                <div class="whitespace-nowrap px-2">Payment</div>
                            </td>
                            <td>
                                <div class="whitespace-nowrap px-2">Money</div>
                            </td>
                            <td>
                                <div class="whitespace-nowrap px-2">Status</div>
                            </td>
                            <td>
                                <div class="whitespace-nowrap px-2">Created Date</div>
                            </td>
                            <td colspan="4
                  ">
                                <div class="my-3">Actions</div>
                            </td>
                        </tr>
                    </thead>
                    <tbody id="payment_container">
                        <tr>

                        </tr>
                        <tr>
                            <td>
                                <div class="px-2">
                                    <div class="animate-spin h-5 w-5"><i class="fa-solid fa-spinner"></i></div>
                                    <p>Loadding ...</p>
                                </div>
                            </td>
                        </tr>
                        {{!-- <tr class="bg-[#151F30] border-y-[10px] border-[#131720] rounded-3xl">
                            <td>
                                <div class="max-w-[80px] overflow-auto scroll_with-none mt-4 mx-2">
                                    #asdsdasdasda
                                </div>
                            </td>
                            <td>hoài Nam</td>

                            <td>hoài Nam</td>
                            <td>12</td>
                            <td>Thành công</td>
                            <td>hoài Nam</td>
                            <td class="btn_actions">
                                <div class="min-w-[160px]">
                                    <button title="Đồng ý" class="btn_agree">
                                        <i class="fa-solid fa-handshake"></i>
                                    </button>
                                    <button title="Thất bại" class="btn_fail">
                                        <i class="fa-solid fa-heart-crack"></i>
                                    </button>

                                    <button title="View" class="btn_view">
                                        <i class="fa-solid fa-eye"></i>
                                    </button>

                                    <button title="Xóa" class="btn_delete">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </td>
                        </tr> --}}
                    </tbody>
                </table>
            </div>
            <div id="pagination_payment" class="paginationjs">

            </div>
        </div>
    </div>
</section>
<!-- end show payment -->


<script type="module" src="/js/topup.js"></script>